html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.etiqueta{
	padding: 5px;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center;
}

.error_etiqueta{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.warning_etiqueta{
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
	padding: 5px;
}

.info_etiqueta{
	color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.done_etiqueta{
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.oculto{
	display: none;
}
.botones{
	margin:30px;
	padding: 30px;
}
.los_botones{
	margin: 100px auto;
	width: 75%;
}

.header_titulo{
	color: rgb(108, 102, 102);
	font-weight: 400;
	position: absolute;
	top:50px;
	right:25%;
}
.contenido{
	margin-top: 30px;
}
.titulo_nuevoevento{
	text-align: center;
}

.contenedor {
position: absolute;
top: 50%;
left: 40%;
margin-left: -80px; 
margin-top: -80px; 
}
.centro_horizontal{
	margin-left: 40%; 
}

#flotante .A, #flotante .B{  /*hijos*/
	float: left;
	/*display: inline-block;*/
	/*display: table-cell;*/
}

.centrar_tabla_3{
	margin-top: 30px;
}
